<!DOCTYPE html>
<html lang="en">


   <head>
          <meta charset="utf-8">
       <!-- Viewport Meta Tag -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Perfil Personal</title>
       <!-- Bootstrap -->
          <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
       <!-- Main Style -->
          <link rel="stylesheet" type="text/css" href="assets/css/main.css">
          <link rel="stylesheet" type="text/css" href="assets/css/reeval.css">
        <!-- Responsive Style -->
          <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
          <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
          <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    
        <!-- Extras -->
          <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
          <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
          <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
          <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
          <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">
        <!-- Color CSS Styles  -->
          <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />
          <link rel="stylesheet" type="text/css" href="assets/ccs/estilo.css"> 


          <link rel="stylesheet" type="text/css" href="assets/css/custom.css"> 


   </head>

<body style="overflow-x: hidden;">
  <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
           <section id="header">
            <div class="container">
              <div class="row">
             <!-- Navbar Starts -->
              <div id="free-promo" style="text-align: center; margin-top: 0px;">
              <div class="row" style="width: 100%">
              <div class="container">
                <% if(session.tipo=='coordinador'){%>
                  <center>
                       <img src="assets/img/testimonial/banner-sistema2.png" alt="" style="width: 100%;">  
                   </center>
                   <!-- Search Ends -->                  
                <%}else if(session.tipo=='investigador'){%>
                 <center>
                       <img src="assets/img/testimonial/banner-sistema2.png" alt="" style="width: 100%;">  
                   </center>
                <%}else{%>
                 <center>
                      <img src="assets/img/testimonial/banner-sistema1.jpg" alt="" style="width: 100%;"> 
                 </center>
               <%}%>
                
              </div> 
              </div>
              </div>
            </div>
          </div>
            </section>
  
     </header>

</body>

<!-- INTERFAZ---------------------------------------------------------------------------->
   <body>
     <!-- Header area wrapper starts -->

 <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
<section id="header">
             <!-- Navbar Starts -->
<%- include('../partials/personal-udo/nav-personal.html')%>
</section>
</header>



  <!-----------------------------------Seleccionar la vizualizacion de los diferentes reportes de las evaluaciones -->


<!-- seccion de botones final-->

<div class="container">
    <div class="container paddindaniela" style="margin-top: 50px;">
      <div class="row">

<div class="col-4 none d-md-block col-lg-3">

    <div class="container" style="margin-bottom: 40px;">
    <div class="row">
      <div class="main-section text-center" style="border-radius: 5px;width: 110%;border-color:#ccccccff;">
          <div class="p">
              <div class=" profile-header" style="background:#00aad4ff;width: 100%;border-radius: 5px;"></div>
              <center>
                 <div class="user-detail">
                  <img src="assets/img/man1.png" class="rounded-circle img-thumbnail">
                  
              </div>
              </center>

          </div>
                  <div class="alinearcent1 tituloselect propitext" style="margin-top: -55px;">Datos Personales</div>
                  <div class="alinearcuadrito">
                    <h12 class="alineartextcuadrito salto">bienvenido(a): <%=session.nombre%> <%=session.apellido%></h12>
                    <h12 class="alineartextcuadrito">Unidad: <%=Unidad.nombre%> </h12>
                    <h12 class="alineartextcuadrito">Nucleo: <%=Nucleo.nombre%> </h12>
                  </div> 
      </div>
    </div>
  </div>






<div class="container" style="margin-bottom: 40px;">
    <div class="row">
      <div class=" main-section text-center" style="border-radius: 5px;width: 110%;border-color:#ccccccff;">
          <div class="p">
              <div class=" profile-header" style="background:#5fd3bcff;width: 100%;border-radius: 5px;"></div>
              <center>
                 <div class=" user-detail">
                  <img src="assets/img/man3.png" class="rounded-circle img-thumbnail">
                  
              </div>
              </center>

          </div>
                  <div class="alinearcent1 tiuloselect propitext" style="margin-top: -55px;">Sabes Como Evaluar?</div>
                  <div class="alinearcuadrito">
                    <h12 class="alineartextcuadrito salto" style="text-align: justify;">Revisa nuestro tutorial para que aprendas a realizar el proceso de evaluacion. Recuerda que evaluar mejora el desempeño de todas las areas de nuestra universidad.</h12>
                  </div>
            <div class="alinearcent1">
             <a class=" fancybox fancybox.iframe fa fa-youtube-play" href="demo.html" style="margin-bottom: 10px; position: relative; color:blue; font-size:36px;" ></a>
           </div>
          
      </div>
    </div>
  </div>

</div>

<%if(!Eva_jefe && !Eva_sub && !Eva_auto){%>
           <div id="rectangulo" class="container col-7 ml-sm-auto col-lg-7 px-4" style="background: #0088aaff; border-radius: 2px; margin-left: 50px; width: 68.7%">
  <div id="headingOne" style="height: auto;">
         <span style="margin: auto;color: white; ">No Hay Evaluaciones Activas en este Momento
         </span>
       
         </div>

        
      </div>
      <%}else{%>    

 
     <div id="rectangulo" class="container col-7 ml-sm-auto col-lg-7 px-4" style="background: #00aad4ff; border-radius: 2px; margin-left: 50px; width: 68.7%">
        <div id="headingOne" style="height: auto; ">
         <span style="margin: auto;color: white;">Seleccionar Tipo De Evaluacion
         </span>
       
         </div>
     </div>
      <%}%>

 

     
    
    <div class="container col-7 ml-sm-auto col-lg-7 px-4" id="cajapricipal" style="margin-left: 50px;width: 68.7%;border-radius: 2px;margin-top:-3px; background: white;border-color:#ccccccff;">

       
          
        

          <div class="container">

            

          
              <div class="container">
                  <div class="row">
                     <%if(Eva_jefe){%>
                    <%if(jefe_sub){%>
                 
                     <div class="col-md-6" style="">
                      <center>
                        <div class=" user-detail1">
                            <img src="assets/img/eva1.png" class="rounded-circle img-thumbnail1">
                        </div>
                        <div> 
                          <form action="/evaluar/jefe" method="post">
                            <input type="hidden" name="id_instrumento" value="<%=jefe_sub.id%>">
                           <input class="btn botones2" type="submit" value="Evaluacion Jefe-Subordinado" style="background:#ff7f2adc;color: white; white-space: normal; ">
                           </form>
                        </div>
                      </center>
                    </div> 
                    <%}}%>
                    <%if(Eva_sub){%>
                     <%if(sub_jefe){%>
                     <div class="col-md-6">
                      <center>
                        <div class=" user-detail1">
                         <img src="assets/img/3333.png" class="rounded-circle img-thumbnail1">
                        </div>
                        <div>
                          <form action="/evaluar" method="post">
                          <input type="hidden" name="id_instrumento" value="<%=sub_jefe.id%>">
                          <input class="btn botones2" type="submit" value="Evaluacion Subordinado-Jefe" style="background:#ff7f2adc;color: white; white-space: normal; ">
                        </form>
                        </div>
                      </center>
                    </div>
                      <%}}%>
                 
                  </div>
                </div>

                <div class="container">
                  <%if(Eva_auto){%>
                  <%if(auto){%>
                  <div class="row">
                     <div class="col-md-6 col-md-offset-3" style="">
                      <center>              
                      <div class=" user-detail1">
                            <img src="assets/img/eva3.png" class="rounded-circle img-thumbnail1">
                        </div>
                        <div class=" ml-sm-auto">
                        <form action="/evaluar" method="post">
                          <input type="hidden" name="id_instrumento" value="<%=auto.id%>">
                          <input class="btn  botones2" type="submit" value="Auto-Evaluacion" style="background:#ff7f2adc;color: white; text-align: justify-all; white-space: normal;">
                        </form>
                        </div>
                       </center>
                    </div>                     
                    <%}}%> 
                  </div>
                </div>

               


            


          </div>  
      </div>

 
  
  </div>
</div>
  

</div>




     <!-- Footer Section -->
 <footer>

      <div class="footer wow fadeIn">
            <div id="free-promo" style="text-align: center; margin-top: 70px;">
            <br>
            <p>Av Gran Mariscal-Edificio Rectorado 
            <br>Cumaná-Venezuela.
            <br>Telefono. +58(0293) 400 01 01</p>
            <div class="social-footer" style="margin-top: -10px;">
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-facebook icon-round" ></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-twitter icon-round"></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-google-plus icon-round"></i></a>
                </div>
                <br>           
            </div>
    </footer>
    <!-- Footer Section End-->
    </div>
                     

    

   

    <div class="bottom"> <a href="#" class="settings"></a> </div>

    <!-- -----------------------------------JavaScript & jQuery Plugins --------------------------------------------->
    <!-- jQuery Load -->
    <script src="assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--Text Rotator-->
    <script src="assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="assets/js/owl.carousel.js"></script>
 
    <!-- WayPoint -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="assets/js/main.js"></script>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

     <script src="js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>


     


<script type="text/javascript">
  function show(id) {
   obj = document.getElementById('plusboton1'+id);
   obj.style.display = (obj.style.display=='none') ? 'block' : 'none';
   obj2 = document.getElementById('plusboton2'+id);
   obj2.style.display = (obj.style.display=='none') ? 'block' : 'none';
}

</script>

 


 <!-- Add mousewheel plugin (this is optional) -->
  <script src="assets/js/jquery-1.7.1.min.js" type="text/javascript"></script><!-- carga jQuery -->
  
  <!-- Add fancyBox main JS and CSS files -->
  <script type="text/javascript" src="assets/js/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css?v=2.1.5" media="screen" />

  <!-- Add Button helper (this is optional) -->
 

  <script type="text/javascript">
    $(document).ready(function() {
            
      $('.fancybox').fancybox();

      $(".fancybox-effects-a").fancybox({
        helpers: {
          title : {
            type : 'outside'
          },
          overlay : {
            speedOut : 0
          }
        }
      });

      
      $(".fancybox-effects-b").fancybox({
        openEffect  : 'none',
        closeEffect : 'none',

        helpers : {
          title : {
            type : 'over'
          }
        }
      });

      
      $("#fancybox-manual-b").click(function() {
        $.fancybox.open({
          href : 'registro.php',
          type : 'iframe',
          padding : 5,
          
        });
      });

    });
  </script>

  </body>

</html>