<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">


   <head>
          <meta charset="utf-8">
       <!-- Viewport Meta Tag -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Modificar Portal Web</title>
       <!-- Bootstrap -->
          <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
       <!-- Main Style -->
          <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
        <!-- Responsive Style -->
          <link rel="stylesheet" type="text/css" href="../../assets/css/responsive.css">
        <!--Fonts-->
          <link rel="stylesheet" media="screen" href="../../assets/fonts/font-awesome/font-awesome.min.css">
          <link rel="stylesheet" media="screen" href="../../assets/fonts/simple-line-icons.css">    
        <!-- Extras -->
          <link rel="stylesheet" type="text/css" href="../../assets/extras/owl/owl.carousel.css">
          <link rel="stylesheet" type="text/css" href="../../assets/extras/owl/owl.theme.css">
          <link rel="stylesheet" type="text/css" href="../../assets/extras/animate.css">
          <link rel="stylesheet" type="text/css" href="../../assets/extras/normalize.css">
          <link rel="stylesheet" type="text/css" href="../../assets/extras/settings.css">
          <link rel="stylesheet" type="text/css" href="../../assets/css/drop.css">
          <link rel="stylesheet" type="text/css" href="../../assets/js/drop.js">
        <!-- Color CSS Styles  -->
          <link rel="stylesheet" type="text/css" href="../../assets/css/colors/green.css" media="screen" /> 

  <!--        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
     
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->



   </head>

<body style="overflow-x: hidden;">
  <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
           <section id="header">
            <div class="container">
              <div class="row">
             <!-- Navbar Starts -->
              <div id="free-promo" style="text-align: center; margin-top: 0px;">
              <div class="row" style="width: 100%">
              <div class="container">
                  <center>
                      <img src="../../assets/img/testimonial/banner-sistema.jpg" alt="" style="width: 100%;"> 
                   </center>
                   <!-- Search Ends -->                  
                
              </div> 
              </div>
              </div>
            </div>
          </div>
            </section>
  
     </header>

</body>

<!-- INTERFAZ---------------------------------------------------------------------------->
   <body>
     <!-- Header area wrapper starts -->

 <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
<section id="header">
             <!-- Navbar Starts -->
<%- include('../partials/usuario_master/navbar-master.html')%>
</section>
</header>

<div id="free-promo" style="text-align: center; margin-top: 60px;">
<form action="/portal/actualizar" method="post">
  <div class="container">
  
      
       <div class="col-md-4" >
         <button class="press pull-right" style="width: 60%;background:#00aad4ff;">
          <center><a style="color: white;">Creacion</a></center>
        </button>
      </div>
    

      <div class="col-md-6">
        
        <div class="form-group">
            <p><textarea class="text-area" name="creacion" rows="3" style="width:100%"> <%=dataUnidad.creacion%></textarea></p>
        </div>
         <div class="form-group" style="margin-top: -10px;">
                <label for="imagenecreacion">Imagen Formato PNG,JPG 390x218</label><input  type="file" name="imagenecreacion" id="imagenecreacion">
                
              </div>
        <button type="submit" class="press pull-right"  style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px; margin-top: -20px;">
          <center><a style="color: white;">Actualizar</a></center>
        </button>
    
      </div>


           <div class="col-md-4" >
         <button class="press pull-right" style="width: 60%;background:#00aad4ff;">
          <center><a style="color: white;">Mision</a></center>
        </button>
      </div>
    

      <div class="col-md-6">
       
        <div class="form-group">
            <p><textarea class="text-area" name="mision" rows="3" style="width:100%"><%=dataUnidad.mision%></textarea></p>
        </div>
         <div class="form-group" style="margin-top: -10px;">
                <label for="exampleInputFile">Imagen Formato PNG,JPG 390x218 </label>
                <input type="file" id="exampleInputFile">
                
              </div>

        <button type="submit" class="press pull-right" style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px;margin-top: -20px;">
          <center><a style="color: white;">Actualizar</a></center>
        </button>
    
      </div>

      <div class="col-md-4" >
         <button class="press pull-right" style="width: 60%;background:#00aad4ff;">
          <center><a style="color: white;">Proposito</a></center>
        </button>
      </div>
    

      <div class="col-md-6">
     
        <div class="form-group">
            <p><textarea class="text-area" name="proposito" rows="3" style="width:100%"><%=dataUnidad.proposito%></textarea></p>
        </div>
         <div class="form-group" style="margin-top: -10px;">
                <label for="exampleInputFile">Imagen Formato PNG,JPG 390x218</label>
                <input type="file" id="exampleInputFile">
                
              </div>

        <button type="submit" class="press pull-right" style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px;margin-top: -20px;">
          <center><a style="color: white;">Actualizar</a></center>
        </button>
 
      </div>

                   <div class="col-md-4" >
         <button class="press pull-right" style="width: 60%;background:#00aad4ff;">
          <center><a style="color: white;">Objetivos</a></center>
        </button>
      </div>
    

      <div class="col-md-6">
       
        <div class="form-group" >
            <p><textarea class="text-area" name="objetivos" rows="3" style="width:100%"><%=dataUnidad.objetivos%></textarea></p>
        </div>
         <div class="form-group" style="margin-top: -10px;">
                <label for="exampleInputFile">Imagen Formato PNG,JPG 390x218</label>
                <input type="file" id="exampleInputFile">
                
              </div>

           <div class="form-group" style="margin-top: -10px;">
                <label for="exampleInputFile">Imagen Formato PNG,JPG 390x218</label>
                <input type="file" id="exampleInputFile">
                
              </div>

        <button type="submit" class="press pull-right" style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px;margin-top: -20px;">
          <center><a style="color: white;">Actualizar</a></center>
        </button>
      
      </div>

           <div class="col-md-4" style="margin-top: 20px; ">
         <button class="press pull-right" style="width: 60%;background:#00aad4ff;">
          <center><a style="color: white;">Funciones</a></center>
        </button>
      </div>

      <div class="col-md-6" style="margin-top: 20px;">
       <form action="/portal/actualizar" method="post">
        <div class="form-group">
            <p><textarea class="text-area" name="funcion" rows="3" style="width:100%"><%=dataUnidad.funcion%></textarea></p>
        </div>

          <div class="form-group" style="margin-top: -10px;">
                <label for="exampleInputFile">Imagen Formato PNG,JPG 390x218</label>
                <input type="file" id="exampleInputFile">
                
              </div>

        <button type="submit" class="press pull-right" style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px;margin-top: -20px;">
          <center><a style="color: white;">Actualizar</a></center>
        </button>
      </form>
      </div>


      <div id="free-promo" style="text-align: center; margin-top: 60px;">
  <div class="container">

            <div class="col-md-4" style="margin-top: 20px;">
             <button class="press pull-right" style="width: 60%; background:#00aad4ff; border-radius: 2px;">
              <center><a style="color: white;">Sub Comisiones</a></center>
              </button>
            </div>

      <div class="col-md-6" style="margin-top: 20px; text-align: center;">

           <table class="table table-striped table-bordered">
            <thead>  
              <tr>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">Nucleo</th>
                <th class="td-actions" style="text-align: center;">Accion</th>
                <th class="td-actions" style="text-align: center;">Accion</th>

              </tr>
            </thead>
             <% for(let i = 0; i < dataSub.length; i ++){%>
              <% if(dataSub[i]){%>
            <tbody>
              <tr>
                 
              <td name="codigo"><%-dataSub[i].codigo%></td>
              <td><%-dataSub[i].nombre%></td>
              
                <td class="td-actions">
                  
                    <a  data-toggle="modal"  data-target="#squarespaceModal" data-codigo="<%-dataSub[i].codigo%>"
                    data-nombre="<%-dataSub[i].nombre%>" style="margin-left:-5px; color:black; font-size: 24px;" data-informacion="<%-dataSub[i].informacion%>"   class=" fa fa-pencil"></a></td>

                    <td><a href="/portal/eliminar/<%-dataSub[i].codigo%>" post="get" style="margin-left:-5px; color:red; font-size: 24px;" class="fa fa-trash-o"></a></td>

                   <%}}%>

                  <!-- line modal -->
            <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Sub Comision</h3>
            </div>
          <div class="modal-body">
           
            <!-- content goes here -->
              <form action="/portal/actualizar" method="post">
              <input type="hidden"  id="edit-form-codigo" name="codigo">
                <div class="form-group">
                <b><p for="direccion" style=" color: black; ">Nombre de la Comision:</p></b>
                <input  style="width: 100%;" name="nombre" id="edit-form-nombre"  placeholder="Universidad de Oriente" class="form-control" autofocus>
                </div>

                <div class="form-group">
            <p><textarea class="text-area" name="informacion" id="edit-form-informacion" rows="3" style="width:100%"></textarea></p>
          </div>

                  <div class="form-group">
                <label for="exampleInputFile">Imagen Formato PNG,JPG 178x178</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <button type="submit" class="btn btn-default" style="margin-top:0px;background:#00aad4ff; border-radius: 2px;">Guardar</button>
            </form>

    </div>
</div>
</div>
</div>
</td></tr></tbody>

</table>

 <button data-toggle="modal"  data-target="#agregar" type="button" class="press pull-right" style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px;margin-top: 10px;">
          <center>Agregar</center>
        </button>


  <!-- line modal -->
            <div class="modal fade" id="agregar" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Agregar Nueva Sub Comision</h3>
            </div>
          <div class="modal-body">
           
            <!-- content goes here -->
              <form action="/portal/agregar_comision" method="post" >
              <input style="width: 100%;"  id="edit-form-codigo" name="codigo">
                <div class="form-group">
                <b><p for="direccion" style=" color: black; ">Nombre de la Comision:</p></b>
                <input  style="width: 100%;" name="nombre" id="edit-form-nombre"  placeholder="Universidad de Oriente" class="form-control" autofocus>
                </div>

                <div class="form-group">
            <p><textarea class="text-area" name="informacion" id="edit-form-informacion" rows="3" style="width:100%"></textarea></p>
          </div>

                  <div class="form-group">
                <label for="exampleInputFile">Imagen Formato PNG,JPG 178x178</label>
                <input type="file" name="imagen" id="exampleInputFile">
                
              </div>

              <button type="submit" class="btn btn-default" style="margin-top:0px;background:#00aad4ff; border-radius: 2px;">Guardar</button>
            </form>

    </div>
</div>
</div>
</div>

</div>
</div>
</div>
      <center style="margin-top: 40px;">
      <div class="col-md-12" >
        <button class="press" style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px;">
          <center><a href="/portal/siguiente" style="color: white;">Siguiente</a></center>
        </button>
        <button class="press" type="submit" style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px;">
          <center><a style="color: white;">Finalizar</a></center>
        </button>
      </div>
    </div>
  </div>
 
</center>





      
    <!-- Footer Section End-->

    <!-- Footer Section End-->
    </div>
</f orm>
    <footer>

      <div class="footer wow fadeIn">
            <div id="free-promo" style="text-align: center; margin-top: 40px;">
            <br>
            <p>Av Gran Mariscal-Edificio Rectorado 
            <br>Cumaná-Venezuela.
            <br>Telefono. +58(0293) 400 01 01</p>
            <div class="social-footer" style="margin-top: -10px;">
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-facebook icon-round" ></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-twitter icon-round"></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-google-plus icon-round"></i></a>
                </div>
                <br>           
            </div>
    </footer>

                     


    <div class="bottom"> <a href="#" class="settings"></a> </div>

    <!-- -----------------------------------JavaScript & jQuery Plugins --------------------------------------------->
    <!-- jQuery Load -->
    <script src="../../assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../../assets/js/bootstrap.min.js"></script>
    <!--Text Rotator-->
    <script src="../../assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="../../assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="../../assets/js/owl.carousel.js"></script>
 
    <!-- WayPoint -->
    <script src="../../assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="../../assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="../../assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="../../assets/js/jquery.appear.js"></script>
    <script src="../../assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="../../assets/js/main.js"></script>
    <script src="../../js/modificar.js"></script>

  <!--  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    
  </body>

</html>