<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <!-- Viewport Meta Tag -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Gestionar Instrumento de Evaluacion</title>
      <!-- Bootstrap -->
      <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
      <!-- Main Style -->
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
      <!-- Responsive Style -->
      <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
      <!--Fonts-->
      <link rel="stylesheet" media="screen" href="/assets/fonts/font-awesome/font-awesome.min.css">
      <link rel="stylesheet" media="screen" href="/assets/fonts/simple-line-icons.css">    
      <!-- Extras -->
      <link rel="stylesheet" type="text/css" href="/assets/extras/owl/owl.carousel.css">
      <link rel="stylesheet" type="text/css" href="/assets/extras/owl/owl.theme.css">
      <link rel="stylesheet" type="text/css" href="/assets/extras/animate.css">
      <link rel="stylesheet" type="text/css" href="/assets/extras/normalize.css">
      <link rel="stylesheet" type="text/css" href="/assets/extras/settings.css">
      <link rel="stylesheet" type="text/css" href="/assets/css/tabla.css">
      <!-- Color CSS Styles  -->
      <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="screen" />       
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!--<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    </head>

    <body style="overflow-x: hidden;">
      <header id="header-wrap">
             <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
               <section id="header">
                <div class="container">
                  <div class="row">
                 <!-- Navbar Starts -->
                  <div id="free-promo" style="text-align: center; margin-top: 0px;">
                  <div class="row" style="width: 100%">
                  <div class="container">
                      <center>
                          <img src="../assets/img/testimonial/banner-sistema.jpg" alt="" style="width: 100%;"> 
                       </center>
                       <!-- Search Ends -->                  
                    
                  </div> 
                  </div>
                  </div>
                </div>
                </div>
              </section>
        </header>
    </body>

<!-- INTERFAZ---------------------------------------------------------------------------->
   <body>
     <!-- Header area wrapper starts -->

 <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
<section id="header">
  <%- include('../../partials/coordinador_evaluacion/navbar.html')%>
</section>
</header>

<div class="container">
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

           
  <div class="form-row align-items-center" style="margin-top: 25px;">
    <div class="col-sm-6 my-1">
      <form method="POST" action="/coord_eval/instrumento/<%=dataInstrument.id%>/add-factor">
        <label class="sr-only" for="nameFactor"></label>
        <input style="margin-left: 220px; width: 80%;" type="text" class="form-control" id="nameFactor" placeholder="Nombre del Factor" name="nameFactor" required autofocus>

        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary btn-xs" style="height: 38px;border-radius: 2px; margin-left: 118px;" ><a class="fa fa-plus-circle" style="color:white;font-size:24px;margin-top: -3px;margin-left: 3px;"></a>
          </button>
        </div>
      </form>
    </div>
  </div>

            

    
  <!-- ===============TABLA CON FACTORES EXISTENTES=============== -->
  <div class="table-responsive">
    <table class="table" style="margin-top: 30px;">
      <thead >
        <tr>
          <th scope="col"><center>Instrumento</center></th>
          <th scope="col"><center>Nombre del factor</center></th>
          <th scope="col"><center>Item</center></th>
          <th scope="col"><center>Accion</center></th>
          <th scope="col"><center>Accion</center></th>
        </tr>
      </thead>

      <tbody>
          <% for(let i = 0; i < dataFactor.length; i ++) {%>
            <% if(dataFactor) { %>
              <tr>
                <td><center><%= dataFactor[i].instrument.name %></center></td>
                <td><center><%= dataFactor[i].nameFactor %></center></td>
                <td>
                  <center>
                    <a href="/coord_eval/instrumento/<%=dataFactor[i].instrumentId%>/add-factor/<%=dataFactor[i].id%>" class="btn btn-primary">Add</a>
                  </center>
                </td>
                <td>
                  <center>
                    <a class="fa fa-pencil btn btn-xs edit-factor" data-toggle="modal" data-target="#editFactor" data-name="<%=dataFactor[i].nameFactor%>" data-id="<%=dataFactor[i].id%>" style="color:#00aad4ff;font-size:24px;"></a>
                  </center>  
                </td>
                <td>
                  <center><center>
                    <a onclick="myFunction()" href="/coord_eval/instrumento/<%=dataInstrument.id%>/factor-delete/<%=dataFactor[i].id%>" class="fa fa-trash-o" style="color:red;font-size:24px;">
                    </a>

                    <script>
                      function myFunction() {
                        document.getElementById("demo").innerHTML = alert("Desea Eliminar Este Factor?");;
                      }
                    </script>
                  </center>
                </td>
              </tr>    
            <%}%>
          <%}%>      
      </tbody>
    </table>
        
    <!-- =================MODAL EDIT FACTOR====================== -->       
    <div class="modal fade" id="editFactor" style="margin-top: 5%">
      <div class="modal-dialog">
        <div class="modal-content">                
          <!-- Modal Header -->
          <div class="modal-header">
            <center>
              <h4 class="modal-title" style="margin-top: 20px;">Modificar Factor</h4>
            </center>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form method="POST" action="/coord_eval/instrumento/<%=dataInstrument.id%>/factor-edit">
            <input type="hidden" name="id" id="edit-form-id">
            <div class="modal-body">              
              <div class="form-group">
                <label for="nameFactor">Nombre del Factor </label>
                <input type="text" name="nameFactor" id="edit-form-name" class="form-control" autofocus>
              </div>
            </div>  
                          
            <div class="modal-footer">
              <center><button type="submit" class="btn btn-primary" style="margin-top: 20px;background:#00aad4ff; border-radius: 2px;">Guardar</button></center>
            </div>          
          </form>
        </div>
      </div>
    </div>
    <!--===================FIN MODAL EDIT FACTOR===================-->
  </div>
  <!-- ===============FIN TABLA CON FACTORES EXISTENTES============ -->

</div>
</div>


</div>


         <footer>

      <div class="footer wow fadeIn">
            <div id="free-promo" style="text-align: center; margin-top: 300px;">
            <br>
            <p>Av Gran Mariscal-Edificio Rectorado 
            <br>Cumaná-Venezuela.
            <br>Telefono. +58(0293) 400 01 01</p>
            <div class="social-footer" style="margin-top: -10px;">
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-facebook icon-round" ></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-twitter icon-round"></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-google-plus icon-round"></i></a>
                </div>
                <br>           
            </div>


      </div>
      
    </footer>


    <!-- Footer Section End-->






                     


    <div class="bottom"> <a href="#" class="settings"></a> </div>

    <!-- -----------------------------------JavaScript & jQuery Plugins --------------------------------------------->
    <!-- jQuery Load -->
    
    <!-- Bootstrap JS -->
    <!--<script src="/assets/js/bootstrap.min.js"></script>-->
    <!--Text Rotator-->
    <script src="/assets/js/jquery.mixitup.js"></script>
    <script src="/assets/js/jquery-min.js"></script>
    <!--WOW Scroll Spy-->
    <script src="/assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="/assets/js/owl.carousel.js"></script>
 
    <!-- WayPoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="/assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="/assets/js/jquery.appear.js"></script>
    <script src="/assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="/assets/js/main.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

     <script src="/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/mymain.js"></script>


  </body>



</html>