<!-- Navbar Starts -->
        <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
          <div class="container">
            <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu'
                    data-toggle='collapse' type='button'>☰
            </button>

            <a class="navbar-brand" href="/">
              <img src=" ../assets/img/crediudo1.png" alt="" style="margin-top:-8px;">
            </a>

            <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
              <ul class="nav nav-inline">
                <li class="nav-item dropdown">
                  <a style="color: black;s" class="nav-link active" href="/" role="button" aria-haspopup="true" aria-expanded="false">Inicio</a>                  
                </li> 

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    CREDIUDO
                  </a>
                  <div class="dropdown-menu">                      
                    <a class="dropdown-item" href="/informacion">Creacion,Mision y Proposito</a>
                    <a class="dropdown-item" href="/objetivo">Objetivos</a>
                    <a class="dropdown-item" href="/funcion">Funciones</a>
                    <a class="dropdown-item" href="/sub-comi">Sub Comisiones</a>
                    <a class="dropdown-item" href="/etapas">Etapas</a>
                    <a class="dropdown-item" href="/reglamento">Reglamentos</a>
                    <a class="dropdown-item" href="/noti-crediudo">Noticias</a>
                  </div>
                </li> 

                <li class="nav-item dropdown">
                  <a style="color: black;" class="nav-link active" href="/boletines" role="button" aria-haspopup="true" aria-expanded="false">Boletines Informativos 
                  </a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
                     href="#" role="button" aria-haspopup="true" 
                     aria-expanded="false">Evaluacion en los Nucleos
                  </a> 
                  <div class="dropdown-menu">                      
                    <a class="dropdown-item" href="/eva-sucre">Sucre</a>
                    <a class="dropdown-item" href="/eva-nva">Nueva Esparta</a>
                    <a class="dropdown-item" href="/eva-mona">Monagas</a>
                    <a class="dropdown-item" href="/eva-boli">Bolivar</a>
                    <a class="dropdown-item" href="/eva-anzo">Anzoategui</a>
                  </div>  
                </li>
                <!-- - - - -    INFORME DE GESTION - - -  - - - - - -->
                <li class="nav-item dropdown">
                  <a  style="color: black;" class="nav-link active" href="/info-crediudo"
                   role="button" aria-haspopup="true"
                    aria-expanded="false">Informes de Gestion
                  </a> 
                </li> 
                <!-- aqui esta el logo de usuario de -->
                <% if(session.hasOwnProperty('cedula')){ %>
                  <li class="nav-item dropdown">
                    <a>
                      <span  class="fa fa-user" style="color:#2a7fffff;font-size:24px;"></span>
                    </a>
                    <div class="dropdown-menu" style="width: 20%;">
                      <a class="dropdown-item" href="">Mi Cuenta</a>
                      <a class="dropdown-item" href="">Actualizar Datos</a>
                      <a class="dropdown-item" href="/cerrar/cerrar">Cerrar Sesion</a>
                    </div>
                  </li> 
                <%} else{%>
                <li class="nav-item dropdown">
                  <a data-toggle="modal" data-target="#login-modal" >
                    <span  class="fa fa-user" style="color: black;font-size:24px;"></span>
                  </a>
                </li> 
                <% } %>

                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog">
                    <div class="loginmodal-container">
                      <h1>Iniciar Sesion</h1><br>
                      <form action="/inicio/ingresar" method="post">
                        <input type="text" name="cedula" placeholder="Cedula">
                        <input type="password" name="password" placeholder="Password">
                        <input type="submit" name="Ingresar" class="login loginmodal-submit" value="Ingresar" style="background:#00aad4ff; ">
                      </form>
          
                      <div class="login-help">
                        <a href="#" >Recuperar Contraseña</a>
                      </div>
                    </div>
                  </div>
                </div>

              </ul>  
            </div>
          </div>
        </nav><!-- Navbar Ends -->