<div class="container">        
  <!-- Row Starts -->
  <div class="row">
    <center>        
      <!--======================CREAR==================================-->           
      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
              <div class="team-item wow fadeInUpQuick" data-wow-delay="1.4s" >
                <figure class="team-profile" style="width: 120px; height: 150px;" >
                  <img style="margin-top: 20px;" src="/assets/img/crear-evento.png" class="img-responsive img-rounded" alt="">
                </figure>
                <div>
                    <a class="btn btn-primary" style="color: white; background:#2a7fffff;" href="/coord_eval/eventos/add">  Crear  Evento</a>
                </div>
              </div>
      </div>

      <!--=============================MODIFICAR===============================--> 
      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <div class="team-item wow fadeInUpQuick" data-wow-delay="1.1s">
          <figure class="team-profile" style="width: 120px; height: 150px;">
            <img style="margin-top: 20px;" src="/assets/img/modi-evento.png" class="img-responsive img-rounded" alt=""><br>
          </figure>
    
          <div>
            <center>
              <a id="modificar" href="/coord_eval/eventos/edit" class="btn btn-primary" style="color: white; background:#2a7fffff;">Modificar Evento</a>
            </center>
            <div class="modal fade" id="#miventana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
          </div>
        </div>
        <!--=========================Team Item Starts=======================================-->
      </div>

      <!--======================================-ELIMINAR=======================================-->
      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <div class="team-item wow fadeInUpQuick" data-wow-delay="1.1s">
          <figure class="team-profile" style="width: 120px; height: 150px; ">
            <img  style="margin-top: 20px;" src="/assets/img/lista.png" class="img-responsive img-rounded" alt=""></a>
          </figure>
                  
          <div>
            <center>
              <a href="/coord_eval/eventos/ver_instituciones" class="btn btn-primary" style="color: white; background:#2a7fffff;" >Instituciones Inscritas</a>
            </center>
          </div>
        </div>
      </div>
      <!-- Team Item Ends -->
    </center>          
  </div><!-- Row Ends -->
</div>