<!-- Navbar Starts -->
        <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
          <div class="container">
            <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse'   type='button'>
              ☰
            </button>
                
            <!-- Brand -->
            <a class="navbar-brand" href="index.html">
              <img src="/assets/img/crediudo1.png" alt="">
            </a>
            
            <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-center" id="main-menu">
               <!-- Navbar Starts -->
               <div class="container">
                  <center>

                  <ul class="nav nav-inline">
                     <li class="nav-item dropdown " style="left: 30px;">
                     <a style="color:black;" class="nav-link active" href="/coord_eval/instrumento/#" role="button" aria-haspopup="true" aria-expanded="false">
                      GESTIONAR EVENTOS
                     </a>
                     </li> 

                     <li class="nav-item dropdown" style="left: 20px;">
                     <a style="color:black;" class="nav-link active" href="/coord_eval/instrumento" role="button" aria-haspopup="true" aria-expanded="false">
                       GESTIONAR INSTRUMENTOS DE EVALUACION 
                     </a>
                    </li>

                    <li class="nav-item dropdown" style="left:20px;">
                    <a style="color:black;" class="nav-link active" href=" " role="button" aria-haspopup="true" aria-expanded="false">
                    VISUALIZAR INSTRUMENTOS
                    </a> 
                   </li>

                <li class="nav-item dropdown" style=" right:-20px;">
                    <a href="iniciosesion/inicio1.html" class="fancybox fancybox.iframe" >
                    <span  class="fa fa-user" style="color: black;font-size:24px;"></span>&nbsp COOR EVALUACION
                    </a>

                    <div class="dropdown-menu" style="width: 20%;">                      
                    <a class="dropdown-item" href="/modificar_datos">Actualizar Datos</a>
                    <a class="dropdown-item" href=" ">Cerrar Sesion</a>
                    </div>
                </li> 


                   </ul>
                </center>
                   <!-- Search Ends -->                  
                
                </div> 
             </div>
          </div>
        </nav>