<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">


   <head>
          <meta charset="utf-8">
       <!-- Viewport Meta Tag -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Visualizar Instrumento de Evaluacion</title>
       <!-- Bootstrap -->
          <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
       <!-- Main Style -->
          <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <!-- Responsive Style -->
          <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
        <!--Fonts-->
          <link rel="stylesheet" media="screen" href="/assets/fonts/font-awesome/font-awesome.min.css">
          <link rel="stylesheet" media="screen" href="/assets/fonts/simple-line-icons.css">    
        <!-- Extras -->
          <link rel="stylesheet" type="text/css" href="/assets/extras/owl/owl.carousel.css">
          <link rel="stylesheet" type="text/css" href="/assets/extras/owl/owl.theme.css">
          <link rel="stylesheet" type="text/css" href="/assets/extras/animate.css">
          <link rel="stylesheet" type="text/css" href="/assets/extras/normalize.css">
          <link rel="stylesheet" type="text/css" href="/assets/extras/settings.css">
          <link rel="stylesheet" type="text/css" href="/assets/css/tabla.css">
        <!-- Color CSS Styles  -->
          <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="screen" />       
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->



   </head>

<body style="overflow-x: hidden;">
  <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
           <section id="header">
            <div class="container">
              <div class="row">
             <!-- Navbar Starts -->
              <div id="free-promo" style="text-align: center; margin-top: 0px;">
              <div class="row" style="width: 100%">
              <div class="container">
                  <center>
                      <img src="assets/img/testimonial/img32.jpg" alt="" style="width: 100%;"> 
                   </center>
                   <!-- Search Ends -->                  
                
              </div> 
              </div>
              </div>
            </div>
          </div>
            </section>
  
     </header>

</body>

<!-- INTERFAZ---------------------------------------------------------------------------->
   <body>
     <!-- Header area wrapper starts -->

 <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
<section id="header">
             <!-- Navbar Starts -->
<nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
              <div class="container">
              <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse'   type='button'>
                  ☰
              </button>
                <!-- Brand -->
                <a class="navbar-brand" href="index.html">
              <img src="assets/img/crediudo1.png" alt="">
            </a>
            <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-center" id="main-menu">
               <!-- Navbar Starts -->
               <div class="container">
                  <center>

                  <ul class="nav nav-inline">
                     <li class="nav-item dropdown " style="left: 30px;">
                     <a style="color:black;" class="nav-link active" href="Crear-usuario-perfil-master.html" role="button" aria-haspopup="true" aria-expanded="false">
                      GESTIONAR EVENTOS
                     </a>
                     </li> 

                     <li class="nav-item dropdown" style="left: 20px;">
                     <a style="color:black;" class="nav-link active" href="/coord_eval/instrumento/index_3" role="button" aria-haspopup="true" aria-expanded="false">
                       GESTIONAR INSTRUMENTOS DE EVALUACION 
                     </a>
                    </li>

                    <li class="nav-item dropdown" style="left:20px;">
                    <a style="color:black;" class="nav-link active" href="visualizar-instrumentos.html" role="button" aria-haspopup="true" aria-expanded="false">
                    VISUALIZAR INSTRUMENTOS
                    </a> 
                   </li>

                <li class="nav-item dropdown" style=" right:-20px;">
                    <a href="iniciosesion/inicio1.html" class="fancybox fancybox.iframe" >
                    <span  class="fa fa-user" style="color: black;font-size:24px;"></span>&nbsp COOR EVALUACION
                    </a>

                    <div class="dropdown-menu" style="width: 20%;">                      
                    <a class="dropdown-item" href=" ">Actualizar Datos</a>
                    <a class="dropdown-item" href=" ">Cerrar Sesion</a>
                    </div>
                </li> 


                   </ul>
                </center>
                   <!-- Search Ends -->                  
                
                </div> 
             </div>
          </div>
</nav>
</section>
</header>

<div class="container">
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

                <center>
                  <form class="form-inline" method="POST" action="/coord_eval/instrumento/ver/por_category">
                  
                  <div class="form-group">
                  
                 <br> 

                <select class="form-control enlinea" style="width: 250px;margin-bottom: 10px;" name="category">
                  <option value="pers_admin">Personal Administrativo</option>
                  <option value="cent_inves">Centros de Investigacion</option>
                </select>
   
                </div>
                 <div class="form-group">
        
                <button type="submit" class="btn btn-default botones enlinea" style="background:#2a7fffff; border-radius: 2px;margin-top: 5px;">Buscar</button>

                <a href="#" class="btn btn-default botones enlinea" style="background:#2a7fffff; border-radius: 2px;margin-top: 5px;">Historial de Cambios</a>
 
                </div>
                </form></center>

                <div class="form-inline form-group">

                
                </div>
                                      

<br><div class="table-responsive">

  <table class="table" style="margin-top: 10px;">

    <thead >
                <tr>
                  <th scope="col"><center>Categoria</center></th>
                  <th scope="col"><center>Nombre</center></th>
                  <th scope="col"><center>Tipo de Instrumento</center></th>
                  <th scope="col"><center>Accion</center></th>
                  <th scope="col"><center>Accion</center></th>
                </tr>
              </thead>

              <tbody>
                <% for(let i = 0; i < dataInstrument.length; i++) {%>
                <tr>
                  <td><center>
                    <% if(dataInstrument[i].category == 'pers_admin') {%>
                      Personal Administrativo
                    <%} else{%>
                      Centro de Investigación
                    <%}%>
                  </center></td>
                  <td><center><%=dataInstrument[i].name%></center></td>
                  <td><center>
                    <% if(dataInstrument[i].t_instrument == 'aut_eval') {%>
                      Auto-Eval
                    <%} else if(dataInstrument[i].t_instrument == 'eval_jef'){%>
                      Eval-Jefe
                    <%} else if(dataInstrument[i].t_instrument == 'eval_sub'){%>
                      Eval-Sub
                    <%} else if(dataInstrument[i].t_instrument == 'coo_eval'){%>
                      Coo-Eval
                    <%}%>   
                  </center></td>

                  <td><center><a href="detalle-instrumento.html" class="fa fa-file-pdf-o fa-1x" style="color:black;font-size:24px;"></a></center></td>
                  <td>

                    <center><a href="" class="fa fa-share-alt" style="color:#00aad4ff;font-size:24px;"></a></center>
                      
                      
                  </td>
                </tr>
                <%}%>

              </tbody>
   
  </table>
</div>




</div>
</div>
</div>




    <!-- Footer Section End-->
             <footer>

      <div class="footer wow fadeIn">
            <div id="free-promo" style="text-align: center; margin-top: 300px;">
            <br>
            <p>Av Gran Mariscal-Edificio Rectorado 
            <br>Cumaná-Venezuela.
            <br>Telefono. +58(0293) 400 01 01</p>
            <div class="social-footer" style="margin-top: -10px;">
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-facebook icon-round" ></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-twitter icon-round"></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-google-plus icon-round"></i></a>
                </div>
                <br>           
            </div>


      </div>
    </footer>






                     


    <div class="bottom"> <a href="#" class="settings"></a> </div>

    <!-- -----------------------------------JavaScript & jQuery Plugins --------------------------------------------->
    <!-- jQuery Load -->
    <script src="/assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <!--<script src="/assets/js/bootstrap.min.js"></script>-->
    <!--Text Rotator-->
    <script src="/assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="/assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="/assets/js/owl.carousel.js"></script>
 
    <!-- WayPoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="/assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="/assets/js/jquery.appear.js"></script>
    <script src="/assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="assets/js/main.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

     <script src="/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>


  </body>



</html>