<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" media="screen" href="../../assets/css/index-admin.css">
<link rel="stylesheet" media="screen" href="../../assets/css/login.css">

<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

 <div class="loginmodal-container" style="margin-top: 150px;">
          <h1>Iniciar Sesion</h1><br>
          <form action="/sesion_crediudo/ingresar" method="post">
          <input type="text" name="cedula" placeholder="Cedula">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" name="Ingresar" class="login loginmodal-submit" value="Ingresar" style="background:#2a7fffff; ">
          </form>
          
          <div class="login-help">
          <a href="#">Recuperar Contraseña</a>
          </div>
        </div>



</div>