<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CREDIUDO-Detalle Noticias</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <!--Fonts-->
    <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css"> 
    <link rel="stylesheet" media="screen" href="assets/css/card.css">

     <link rel="stylesheet" media="screen" href="assets/css/info.css">
  <link rel="stylesheet" media="screen" href="assets/css/detalle-noti.css">
  <link rel="stylesheet" media="screen" href="../assets/css/login.css">


  

     
     
    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">


  </head>


<!------------- - - - - - - - - - -  - - INTERFAZ   logo, Barra de Botones  - - - - ------------------------------ -->
  <body>
  <!-- Header area wrapper starts -->
    <header id="header-wrap">
      <section id="header">                                                                           <!--SECCIÓN 1-->
        <!-- Navbar Starts -->
        <%- include('../partials/web_principal/navbar.html')%>

        <!-- seccion de noticias crediudo-->
<div class="container">
  <div class="row col-7 " >
     <!-- HEADER -->
        <div class="" style="margin-top: 30px;">
            <img  src="assets/img/blog/img3.jpg" >
            <img style="margin-left: 20px;" src="assets/img/blog/img3.jpg" >
          </div>
            
          
        </div>

        <!-- INFO -->
      
        <div class="row row-eq-height" style="padding-right:15px">
            <div class="col-xs-9 text">
                <article style="text-align: justify;"><p>La Comisión Rectoral de Evaluación y Desarrollo Institucional de la Universidad de Oriente (CREDIUDO) conjuntamente con la Dirección de Cultura de la misma casa de estudios, realizaron el jueves 26 de febrero en el Núcleo de Anzoátegui la primera reunión sobre el diagnóstico de las actividades de cultura y extensión. </p>
                <p>Su edificación empezó en el año 1980. Nueve años después, concretamente el 1 de mayo de 1989, se abrió al público.</p>
                <p class="semi-title">Tamaño y diseño</p>
                <p>El área del inmueble es de 207.000 metros cuadrados, con un total de ocho pisos, y puede albergar a 150.000 personas.</p>
                <p>El techo posee 16 arcos que emulan los pétalos de una flor, y el césped es natural. También cuenta con una piscina y saunas.</p>
                <p>En él no solo se llevan a cabo partidos de fútbol y competencias de atletismo (dispone de una pista de 400 metros), sino festivales artísticos, así como eventos del Partido de los Trabajadores, que gobierna el país desde 1948. </p>
                <p>Dentro de las actividades que se realizan destaca el Festival Arirang, que incluye espectáculos de circo, música, gimnasia y danza.</p>
                <p>Según la agencia EFE, este festival se celebra desde 2002 para recordar el nacimiento del líder fundador de Corea del Norte, Kim Il-sung.</p>
                <p class="semi-title">Remodelación</p>
                <p>En 2014, el estadio fue remodelado y el año pasado reabrió sus puertas. </p>
                <p>De acuerdo con el diario inglés The Guardian, entre las renovaciones están nuevos vestuarios, equipo de fisioterapia, salas de juntas y un centro de medios.  </p></article>
            </div>
            <!-- Sidebar // advertising -->
            <div class="col-xs-3 side" style="margin-top: -220px;">
                

                <small>
              
                <center><p style="margin-bottom:0px;margin-top:10px;"><b>Noticias importantes</b></p></center><br>
                <ul class="list-group">
                    <li class="list-group-item" href="#" ><big><b>1.</b></big> Cras justo odio</li>
                    <li class="list-group-item"><big><b>2.</b></big> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><big><b>3.</b></big> Morbi leo risus</li>
                    <li class="list-group-item"><big><b>4.</b></big> Porta ac consectetur ac</li>
                    <li class="list-group-item"><big><b>5.</b></big> Vestibulum at eros</li>
                </ul>

                  <br><center><img style="max-width: 100%" src="assets/img/esta.png" alt="Photograph" ></center><br>
                  <center><p style="margin-bottom:0px;"><b>Estadísticas</b></p></center>
                <center><div class="statistics">
                    <p><span class="label label-default fa fa-users" style="font-size: 14px;"> &nbsp Visitas 2550</span></p>
                    <p><span class="label label-default fa fa-share-alt" style="font-size: 14px;">&nbsp   Compartido 50 veces</span></p>
                    <p><span class="label label-default fa fa-thumbs-o-up" style="font-size: 14px;">&nbsp Me gusta 20</span></p>
                </div></center>

                </small>
                
            </div>
        </div>
  </div>
</div>


   <!-- Footer Section -->
   <!-- Footer Section --> <footer >
    <div class="container" style="margin-top: 100px;" >

            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" >
            <h5 class="small-title" style="top: 30px; text-align: center;">
              Ubicanos en las Redes Sociales
            </h5>
            <div class="social-footer" style="margin-left: 30px; margin-top: 40px; font-size: 5px;">
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-facebook icon-round"></i></a>
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-twitter icon-round"></i></a>
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-linkedin icon-round"></i></a>
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-google-plus icon-round"></i></a>
            </div>         
          </div>

            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
            <h4 class="small-title" style="top: 30px;text-align: center; margin-left: 0px;" >
              Acercate a Nuestras Oficinas
            </h4>
            <p style=" margin-top:40px; margin-left:10px; text-align: center;">
              Av. Gran Mariscal - Edificio Rectorado <br>Cumana-Venezuela<br>Telefonos:+58(0293)400.01.01</p>
            </p>
           

          </div>
          <!-- Footer Widget Ends -->


          <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
            <h3 class="small-title" style="top: 30px; text-align: center;">
              Otros Lugares de Interes
            </h3>
            <div class="plain-flicker-gallery" style="margin-top:35px;">

              <a href="" title="Hard Working"><img src="assets/img/flicker/img4.jpg" alt=""></a>
              <a href="" title="Smile"><img src="assets/img/flicker/img5.jpg" alt=""></a>
              <a href="" title="Puzzle"><img src="assets/img/flicker/img6.jpg" alt=""></a>
            </div>
          </div><!-- Footer Widget Ends -->

            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
            <h4 class="small-title" style="top: 20px; text-align: center;">
              Suscribete
            </h4>
            <div class="contact-us" style="top: 35px; text-align: center;">
              <p style="margin-top:30px; text-align: center;">Recibe Nuestros Boletines Informativos</p>

              <form>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Ingresa tu Email">
                <button  class="btn" style="color: white; height:30px;margin-top: 10px;background:#2a7fffff; border-radius: 2px;"><p style="position: center;margin-top:-7px;">Enviar</p></button>
                
              </div>
              
            </form>
            </div>
          </div><!-- Footer Widget Ends -->

    </div>

  </footer>
 
    <!-- Footer Section End-->





    
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up" >
      </i>
    </a>

    <div class="bottom"> <a href="#" class="settings"></a> </div>
<!------                                                                     LIBRERIAS UTILIZADA ---------------->
    <!-- JavaScript & jQuery Plugins -->
    <!-- jQuery Load -->
    <script src="assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--Text Rotator-->
    <script src="assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="assets/js/owl.carousel.js"></script>
    <!-- WayPoint -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/color-switcher.js"></script>
    
  </body>
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkvKN2zO7jw_h2M3jtbY7LTycXQP7MJKY&callback=initMap">
</script>

  <script type="text/javascript" src="assets/js/jquery.fancybox.js?v=2.1.5"></script>  
  <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css?v=2.1.5" media="screen" />

  <!-- Add mousewheel plugin (this is optional) -->
  <script src="lib/jquery-1.7.1.min.js" type="text/javascript"></script><!-- carga jQuery -->
  <script type="text/javascript" src="assets/js/jquery.mousewheel-3.0.6.pack.js"></script>



</html>

