<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CREDIUDO-Informes de Gestion</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <!--Fonts-->
    <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css"> 
    <link rel="stylesheet" media="screen" href="assets/css/card.css">

     <link rel="stylesheet" media="screen" href="../assets/css/info.css">

     <link rel="stylesheet" media="screen" href="../assets/css/pdf.css">
     <link rel="stylesheet" media="screen" href="../assets/css/login.css">

      

     
     
    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">


  </head>


<!------------- - - - - - - - - - -  - - INTERFAZ   logo, Barra de Botones  - - - - ------------------------------ -->
  <body>
  <!-- Header area wrapper starts -->
    <header id="header-wrap">
      <section id="header">                                                                           <!--SECCIÓN 1-->
        <!-- Navbar Starts -->
       <%- include('../partials/web_principal/navbar.html')%>

   <!--seccion donde va la informacion de la pagina-->
 <div class="col-md-10 col-md-offset-1 blogShort" style="margin-top: 50px;">
                     <h3>Informes de Gestion</h3>
                     <p>En esta seccion se muestra los informes anuales de nuestra labor como depencia de la Universidad de Oriente</p><br>
                     
                      <h4>Informe de Gestion Año 2011</h4> 
                      <img style="margin-top: 20px;" src="assets/img/gesti.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

                     <article ><p style="margin-top: 25px;text-align: justify;">
                         En este año se adelantaron mejoras en la “Aplicación web para evaluar desempeño docente” que permiten consolidar a nivel institucional una evaluación de este tipo de manera segura y confiable en el corto plazo, así mismo otros proyectos como el “Sistema Automatizado de Apoyo para la Evaluación Institucional” con el cual se podrá evaluar al personal administrativo y obrero de la instituciónTiene  en  sus manos el  Boletín Nº  6 de  CREDIUDO  INFORMA,  ésta  se  podría  decir que es  un  edición particular, en  el  sentido de  que en  ella  se  refleja el  trabajo especial  de  consulta  de  opinión a las Subcomisiones de  CREDIUDO  en  los cinco Núcleos acerca  de  las expectativas  de  futuro  de  esta  Comisión.    
                         </p>

                         </article>

                        <div class="container social-footer" style="text-align:center; margin-top: 110px;">
        

            <form type="button" class="btn btn-default" name="formulario" method="post" action="http://pagina.com/send">
              <a href="assets/img/2011.pdf" class="fa fa-file-pdf-o fa-1x view-pdf" style="color:#00aa88ff;font-size:24px;"></a>
            </form>

            <form type="button" class="btn btn-default" >
             <a href="" class="fa fa-share-alt" style="color:#2c89a0ff;font-size:24px;"></a>
            </form>

     
       </div>
                      
                 </div>

                  <div class="col-md-10 col-md-offset-1 blogShort" style="margin-top: 30px;">
                      <h4>Informe de Gestion Año 2012</h4> 
                  
                      <img style="margin-top: 20px;" src="assets/img/gesti1.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

                     <article ><p style="margin-top: 25px;text-align: justify;">
                         La difusión rápida de los resultados se logra desarrollando el sistema en un ambiente web. Por esta vía, CREDIUDO adquirirá la información que necesita de Control de Estudios y Planificación Académica para realizar la evaluación docente; los estudiantes evaluarán a sus profesores en el momento y lugar que tengan acceso a la web y los profesores, jefes de departamento y demás autoridades podrán acceder al o los informes que le competan, todo vía web. Simultáneamente, CREDIUDO podrá gerenciar las evaluaciones docentes en cada Núcleo sin movilización de su personal con el apoyo de la Subcomisión respectiva.   
                         </p>

                         </article>

                         <div class="container social-footer" style="text-align:center; margin-top: 110px;height:150px;">
        

            <form type="button" class="btn btn-default" name="formulario" method="post" action="http://pagina.com/send">
              <a href="assets/img/2012.pdf" class="fa fa-file-pdf-o fa-1x view-pdf" style="color:#00aa88ff;font-size:24px;"></a>
            </form>

            <form type="button" class="btn btn-default" >
             <a href="" class="fa fa-share-alt" style="color:#2c89a0ff;font-size:24px;"></a>
            </form>

     
       </div>
                         
                      
                 </div>
                 



</div>

  <!-- Footer Section -->
   <!-- Footer Section -->
   <footer >
    <div class="container">

            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" >
            <h5 class="small-title" style="top: 30px; text-align: center;">
              Ubicanos en las Redes Sociales
            </h5>
            <div class="social-footer" style="margin-left: 30px; margin-top: 40px; font-size: 5px;">
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-facebook icon-round"></i></a>
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-twitter icon-round"></i></a>
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-linkedin icon-round"></i></a>
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-google-plus icon-round"></i></a>
            </div>         
          </div>

            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
            <h4 class="small-title" style="top: 30px;text-align: center; margin-left: 0px;" >
              Acercate a Nuestras Oficinas
            </h4>
            <p style=" margin-top:40px; margin-left:10px; text-align: center;">
              Av. Gran Mariscal - Edificio Rectorado <br>Cumana-Venezuela<br>Telefonos:+58(0293)400.01.01</p>
            </p>
           

          </div>
          <!-- Footer Widget Ends -->


          <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
            <h3 class="small-title" style="top: 30px; text-align: center;">
              Otros Lugares de Interes
            </h3>
            <div class="plain-flicker-gallery" style="margin-top:35px;">

              <a href="" title="Hard Working"><img src="assets/img/flicker/img4.jpg" alt=""></a>
              <a href="" title="Smile"><img src="assets/img/flicker/img5.jpg" alt=""></a>
              <a href="" title="Puzzle"><img src="assets/img/flicker/img6.jpg" alt=""></a>
            </div>
          </div><!-- Footer Widget Ends -->

            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
            <h4 class="small-title" style="top: 20px; text-align: center;">
              Suscribete
            </h4>
            <div class="contact-us" style="top: 35px; text-align: center;">
              <p style="margin-top:30px; text-align: center;">Recibe Nuestros Boletines Informativos</p>

                  <form>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Ingresa tu Email">
                <button  class="btn" style="color: white; height:30px;margin-top: 10px;background:#2a7fffff; border-radius: 2px;"><p style="position: center;margin-top:-5px;"><b>Enviar</b></p></button>
                
              </div>
              
            </form>
            </div>
          </div><!-- Footer Widget Ends -->

    </div>

  </footer>
  
    <!-- Footer Section End-->

    
    <!-- Go To Top Link -->


    <div class="bottom"> <a href="#" class="settings"></a> </div>
<!------                                                                     LIBRERIAS UTILIZADA ---------------->
    <!-- JavaScript & jQuery Plugins -->
    <!-- jQuery Load -->
    <script src="assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--Text Rotator-->
    <script src="assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="assets/js/owl.carousel.js"></script>
    <!-- WayPoint -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/color-switcher.js"></script>
    <script src="assets/js/pdf.js"></script>
    
  </body>
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkvKN2zO7jw_h2M3jtbY7LTycXQP7MJKY&callback=initMap">
</script>

  <script type="text/javascript" src="assets/js/jquery.fancybox.js?v=2.1.5"></script>  
  <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css?v=2.1.5" media="screen" />

  <!-- Add mousewheel plugin (this is optional) -->
  <script src="lib/jquery-1.7.1.min.js" type="text/javascript"></script><!-- carga jQuery -->
  <script type="text/javascript" src="assets/js/jquery.mousewheel-3.0.6.pack.js"></script>




</html>