<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">


   <head>
          <meta charset="utf-8">
       <!-- Viewport Meta Tag -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Modificar Portal Web </title>
       <!-- Bootstrap -->
          <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
       <!-- Main Style -->
          <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
          <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
          <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
          <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    
        <!-- Extras -->
          <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
          <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
          <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
          <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
          <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">
          <link rel="stylesheet" type="text/css" href="assets/css/drop.css">
          <link rel="stylesheet" type="text/css" href="assets/js/drop.js">
          
          
          <link rel="stylesheet" type="text/css" href="assets/css/tablas.css">
          <link rel="stylesheet" type="text/css" href="assets/css/modal.css">
          
        <!-- Color CSS Styles  -->
          <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" /> 

     
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->



   </head>

<body style="overflow-x: hidden;">
  <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
           <section id="header">
            <div class="container">
              <div class="row">
             <!-- Navbar Starts -->
              <div id="free-promo" style="text-align: center; margin-top: 0px;">
              <div class="row" style="width: 100%">
              <div class="container">
                  <center>
                      <img src="assets/img/testimonial/banner-sistema.jpg" alt="" style="width: 100%;"> 
                   </center>
                   <!-- Search Ends -->                  
                
              </div> 
              </div>
              </div>
            </div>
          </div>
            </section>
  
     </header>

</body>

<!-- INTERFAZ---------------------------------------------------------------------------->
   <body>
     <!-- Header area wrapper starts -->

 <header id="header-wrap">
         <!-- Roof area starts --> <!-- Roof area Ends --> <!-- Header area starts -->
<section id="header">
             <!-- Navbar Starts -->
<nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
              <div class="container">
              <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse'   type='button'>
                  ☰
              </button>
                <!-- Brand -->
                <a class="navbar-brand" href="index.html">
              <img src="assets/img/crediudo1.png" alt="">
            </a>
            <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-center" id="main-menu">
               <!-- Navbar Starts -->
               <div class="container">
                  <center>

                  <ul class="nav nav-inline">
                     <li class="nav-item dropdown " style="left: 50px;">
                     <a style="color:black;" class="nav-link active" href="Crear-usuario-perfil-master.html" role="button" aria-haspopup="true" aria-expanded="false">
                      GESTIONAR USUARIO
                     </a>
                     </li> 

                     <li class="nav-item dropdown" style="left: 90px;" >
                     <a   style="color:black;" class="nav-link active" href="modificar-portal.html" role="button" aria-haspopup="true" aria-expanded="false">
                       MODIFICAR PORTAL WEB 
                     </a>
                    </li>

                    <li class="nav-item dropdown" style="left: 110px;">
                    <a style="color:black;" class="nav-link active" href=" " role="button" aria-haspopup="true" aria-expanded="false">
                    INSTRUMENTO DE EVALUACIÓN
                    </a> 
                   </li>

                <li class="nav-item dropdown" style=" right:-120px;">
                    <a href="iniciosesion/inicio1.html" class="fancybox fancybox.iframe" >
                    <span  class="fa fa-user" style="color: black;font-size:24px;"></span>&nbsp USUARIO MASTER
                    </a>

                    <div class="dropdown-menu" style="width: 20%;">                      
                    <a class="dropdown-item" href=" ">Actualizar Datos</a>
                    <a class="dropdown-item" href=" ">Cerrar Sesion</a>
                    </div>
                </li> 


                   </ul>
                </center>
                   <!-- Search Ends -->                  
                
                </div> 
             </div>
          </div>
</nav>
</section>
</header>

<div id="free-promo" style="text-align: center; margin-top: 60px;">
  <div class="container">


 <div class="col-md-4" style="margin-top: 20px;">
             <button class="press pull-right" style="width: 60%; background:#00aad4ff; border-radius: 2px;">
              <center><a style="color: white;">Boletines</a></center>
              </button>
            </div>

<div class="col-md-6" style="margin-top: 20px; text-align: center;">

           <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">Nombre</th>
                <th class="td-actions" style="text-align: center;"></th>
                <th class="td-actions" style="text-align: center;"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>CREDIUDO Informa-Boletin N°6</td>
                <td class="td-actions">
                  
                    <a  style="margin-left:-5px; color:#2ca089ff; font-size: 24px;"  class=" fa fa-pencil press" data-toggle="modal" data-target="#squarespaceModal"></a>                   
                  

                  <!-- line modal -->
            <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Modificar Archivo</h3>
            </div>
          <div class="modal-body">
      
            <!-- content goes here -->
              <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre del Boletin</label>
                <center><input type="email" class="form-control" id="exampleInputEmail1" placeholder="  " style="width: 100%;"></center>
              </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Descripcion del Contenido</label>
            <p><textarea class="text-area" rows="3" style="width:100%"></textarea></p>
          </div>
             
              <div class="form-group">
                <label for="exampleInputFile">Ruta del Archivo Formato PDF</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Imagen Formato jpg,png 250x300</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <button type="submit" class="btn btn-default" style="margin-top:0px;background:#00aad4ff; border-radius: 2px;">Guardar</button>
            </form>

    </div>

  </div>
  </div>
</div>
                  
                  

                </td>

                <td>
                  <a  style="margin-left:-5px; color:red; font-size: 24px;"  class=" fa fa-trash-o press"></a>


                </td>
              </tr>



              </tbody>

             
            </table> 

           <button  class="press btn-xs" data-toggle="modal" data-target="#squares" style="background:#00aad4ff;border-radius: 2px; margin-left: 250px;">
                    <a  style=" color:white;" >Agregar</a>                 
                  </button>

            <div class="modal fade" id="squares" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Subir Archivo</h3>
            </div>

          <div class="modal-body">
      
            <!-- content goes here -->
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre del Boletin</label>
                <center><input type="email" class="form-control" id="exampleInputEmail1" placeholder="  " style="width: 100%;"></center>
              </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Descripcion del Contenido</label>
            <p><textarea class="text-area" rows="3" style="width:100%"></textarea></p>
          </div>
             
              <div class="form-group">
                <label for="exampleInputFile">Ruta del Archivo Formato PDF</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Imagen Formato jpg,png 250x300</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <button type="submit" class="btn btn-default" style="margin-top:0px;background:#00aad4ff; border-radius: 2px;">Guardar</button>
            </form>

    </div>

  </div>
  </div>
</div>

      


</div>

<div class="col-md-4" style="margin-top: 20px;">
             <button class="press pull-right" style="width: 60%; background:#00aad4ff; border-radius: 2px;">
              <center><a style="color: white;">Informes de Gestion</a></center>
              </button>
            </div>

<div class="col-md-6" style="margin-top: 20px; text-align: center;">

           <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">Nombre</th>
                <th class="td-actions" style="text-align: center;"></th>
                <th class="td-actions" style="text-align: center;"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Informe de Gestion Año 2011</td>
                <td class="td-actions">

                  <a  style="margin-left:-5px; color:#2ca089ff; font-size: 24px;"  class=" fa fa-pencil press" data-toggle="modal" data-target="#squarespaceModal2"></a>



                  <!-- line modal -->
            <div class="modal fade" id="squarespaceModal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Modificar Archivo</h3>
            </div>
          <div class="modal-body">
      
            <!-- content goes here -->
                 <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre del Informe de Gestion</label>
                <center><input type="email" class="form-control" id="exampleInputEmail1" placeholder="  " style="width: 100%;"></center>
              </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Descripcion del Contenido</label>
            <p><textarea class="text-area" rows="3" style="width:100%"></textarea></p>
          </div>
             
              <div class="form-group">
                <label for="exampleInputFile">Ruta del Archivo Formato PDF</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Imagen Formato jpg,png 400x300</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <button type="submit" class="btn btn-default" style="margin-top:0px;background:#00aad4ff; border-radius: 2px;">Guardar</button>
            </form>

    </div>

  </div>
  </div>
</div>
</td>
                  <td>
                  <a  style="margin-left:-5px; color:red; font-size: 24px;"  class=" fa fa-trash-o press"></a>

                </td>
              </tr>

              </tbody>

             
            </table> 

           <button  class="press btn-xs" data-toggle="modal" data-target="#squares2" style="background:#00aad4ff;border-radius: 2px; margin-left: 250px;">
                    <a  style=" color:white;" >Agregar</a>                 
                  </button>

            <div class="modal fade" id="squares2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Subir Archivo</h3>
            </div>

          <div class="modal-body">
      
            <!-- content goes here -->
              <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre del Informe de Gestion</label>
                <center><input type="email" class="form-control" id="exampleInputEmail1" placeholder="  " style="width: 100%;"></center>
              </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Descripcion del Contenido</label>
            <p><textarea class="text-area" rows="3" style="width:100%"></textarea></p>
          </div>
             
              <div class="form-group">
                <label for="exampleInputFile">Ruta del Archivo Formato PDF</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Imagen Formato jpg,png 400x300</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <button type="submit" class="btn btn-default" style="margin-top:0px;background:#00aad4ff; border-radius: 2px;">Guardar</button>
            </form>


    </div>

  </div>
  </div>
</div>


</div>

 <div class="col-md-4" style="margin-top: 20px;">
             <button class="press pull-right" style="width: 60%; background:#00aad4ff; border-radius: 2px;">
              <center><a style="color: white;">Evaluacion en los Nucleos</a></center>
              </button>
            </div>

  <div class="col-md-6" style="margin-top: 20px; text-align: center;">

           <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">Nombre</th>
                <th class="td-actions" style="text-align: center;"></th>
                 <th class="td-actions" style="text-align: center;"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Nucleo Sucre</td>
                <td class="td-actions">

                  <a  style="margin-left:-5px; color:#2ca089ff; font-size: 24px;"  class=" fa fa-pencil press" data-toggle="modal" data-target="#squarespaceModal3"></a>


                  <!-- line modal -->
            <div class="modal fade" id="squarespaceModal3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Modificar Archivo</h3>
            </div>
          <div class="modal-body">
      
            <!-- content goes here -->
              <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Fecha de la Evaluacion</label>
                <center><input type="email" class="form-control" id="exampleInputEmail1" placeholder="  " style="width: 80%;"></center>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Escuelas Evaluadas</label>
                <center><input type="password" class="form-control" id="exampleInputPassword1" placeholder=" " style="width: 80%;"></center>
              </div>

               <div class="form-group">
                <label for="exampleInputPassword1">Docentes Evaluados</label>
                <center><input type="password" class="form-control" id="exampleInputPassword1" placeholder=" " style="width: 80%;"></center>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Hojas de Respuestas Procesadas</label>
                <center><input type="password" class="form-control" id="exampleInputPassword1" placeholder=" " style="width: 80%;"></center>
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Imagen Formato JPG,PNG 350x250</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <button type="submit" class="btn btn-default" style="margin-top:0px;background:#00aad4ff; border-radius: 2px;">Guardar</button>
            </form>

    </div>

  </div>
  </div>
</div>
</td>
                  <td>
                 <a  style="margin-left:-5px; color:red; font-size: 24px;"  class=" fa fa-trash-o press"></a>

                   
                </td>
              </tr>



              </tbody>

             
            </table> 

           <button  class="press btn-xs" data-toggle="modal" data-target="#squares4" style="background:#00aad4ff;border-radius: 2px; margin-left: 250px;">
                    <a  style=" color:white;" >Agregar</a>                 
                  </button>

            <div class="modal fade" id="squares4" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Subir Archivo</h3>
            </div>

          <div class="modal-body">
      
            <!-- content goes here -->
              <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Seleccione el Nucleo Donde se Realizo la Evaluacion</label>
               
      <center><select class="form-control" id="exampleSelect1" style="width:80%;">
               <option>Nucleo Sucre</option>
              <option>Nucleo Sucre- Extencion Carupano</option>
              <option>Nucleo Nueva Esparta</option>
              <option>Nucleo Monagas</option>
              <option>Nucleo Bolivar</option>
              <option>Nucleo Bolivar- UEPO</option>
              <option>Nucleo Anzoategui</option>
              <option>Nucleo Anzoategui-Extencion Anaco</option>
              
        </select></center>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Fecha de la Evaluacion</label>
                <center><input type="email" class="form-control" id="exampleInputEmail1" placeholder="  " style="width: 80%;"></center>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Escuelas Evaluadas</label>
                <center><input type="password" class="form-control" id="exampleInputPassword1" placeholder=" " style="width: 80%;"></center>
              </div>

               <div class="form-group">
                <label for="exampleInputPassword1">Docentes Evaluados</label>
                <center><input type="password" class="form-control" id="exampleInputPassword1" placeholder=" " style="width: 80%;"></center>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Hojas de Respuestas Procesadas</label>
                <center><input type="password" class="form-control" id="exampleInputPassword1" placeholder=" " style="width: 80%;"></center>
              </div>
     
            <div class="form-group">
                <label for="exampleInputFile">Imagen Formato JPG,PNG 350x250</label>
                <input type="file" id="exampleInputFile">
                
              </div>

              <button type="submit" class="btn btn-default" style="margin-top:0px;background:#00aad4ff; border-radius: 2px;">Guardar</button>
            </form>

    </div>

  </div>
  </div>
</div>


  </div>

  <div class="col-md-4" style="margin-top: 70px;">
             <button class="press pull-right" style="width: 60%; background:#00aad4ff; border-radius: 2px;">
              <center><a style="color: white;">Galeria</a></center>
              </button>
            </div>

            <div class="panel panel-default col-md-6" style="margin-top: 70px;">
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Selecciona una Imagen desde tu Computador</h4>
          <p> La imagen debe ser formato PNG,JPG en resolucion 1200x500 px</p>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit" style="background:#00aad4ff; border-radius: 2px; ">Subir Archivo</button>
            </div>
          </form>

          <!-- Drop Zone -->
          <div class="upload-drop-zone" id="drop-zone" style="margin-top: 10px;">
            drop files here
          </div>

          <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>

          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <h5>Proceso del Archivo</h5>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>

              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>

              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>

            </div>
          </div>
        </div>
      </div>



</div>



           
  <center style="margin-top: 30px;">
      <div class="col-md-12" >

        <button class="press" style="margin-bottom: 20px; background:#00aad4ff; border-radius: 2px;">
          <center><a style="color: white;">Finalizar</a></center>
        </button>
      </div>
    </div>
  </div>
 
</center>


    <!-- Footer Section End-->

    <footer>

      <div class="footer wow fadeIn">
            <div id="free-promo" style="text-align: center; margin-top: 70px;">
            <br>
            <p>Av Gran Mariscal-Edificio Rectorado 
            <br>Cumaná-Venezuela.
            <br>Telefono. +58(0293) 400 01 01</p>
            <div class="social-footer" style="margin-top: -10px;">
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-facebook icon-round" ></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-twitter icon-round"></i></a>
                   <a href="#"><i style=" background:#2a7fffff;" class="fa fa-google-plus icon-round"></i></a>
                </div>
                <br>           
            </div>
    </footer>

    <!-- Footer Section End-->
    </div>
                     


    <div class="bottom"> <a href="#" class="settings"></a> </div>

    <!-- -----------------------------------JavaScript & jQuery Plugins --------------------------------------------->
    <!-- jQuery Load -->
    <script src="assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--Text Rotator-->
    <script src="assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="assets/js/owl.carousel.js"></script>
 
    <!-- WayPoint -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="assets/js/main.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 


  </body>



</html>