<!-- DOCTYPE -->
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <!-- Viewport Meta Tag -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Crear Instrumento de Evaluacion</title>
      <!-- Bootstrap -->
      <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
      <!-- Main Style -->
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
      <!-- Responsive Style -->
      <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
      <!--Fonts-->
      <link rel="stylesheet" media="screen" href="/assets/fonts/font-awesome/font-awesome.min.css">
      <link rel="stylesheet" media="screen" href="/assets/fonts/simple-line-icons.css">    
      <!-- Extras -->
      <link rel="stylesheet" type="text/css" href="/assets/extras/owl/owl.carousel.css">
      <link rel="stylesheet" type="text/css" href="/assets/extras/owl/owl.theme.css">
      <link rel="stylesheet" type="text/css" href="/assets/extras/animate.css">
      <link rel="stylesheet" type="text/css" href="/assets/extras/normalize.css">
      <link rel="stylesheet" type="text/css" href="/assets/extras/settings.css">
      <link rel="stylesheet" type="text/css" href="/assets/css/tabla.css">
      <!-- Color CSS Styles  -->
      <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="screen" />       
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!--<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    </head>

    <body style="overflow-x: hidden;">
      <header id="header-wrap">
        <section id="header">
          <div class="container">
            <div class="row">
              <div id="free-promo" style="text-align: center; margin-top: 0px;">
                <div class="row" style="width: 100%">
                  <div class="container">
                    <center>
                      <img src="../assets/img/testimonial/banner-sistema.jpg" alt="" style="width: 100%;"> 
                    </center>                  
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </section>
      </header>
    </body>

    <body>
      <header id="header-wrap">
        <section id="header">
          <!--=================NAVBAR========================-->
           <%- include('../../partials/coordinador_evaluacion/navbar.html')%>
          <!--=================FIN NAVBAR========================-->
        </section>
      </header>

      <div class="container">
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1" style="margin-top: 30px;">
            <center>
              <form class="form-inline" method="POST" action="/coord_eval/Instrumento/add">
                <input style="width: 35%;" type="text" name="name" class="form-control" placeholder="Nombre del Instrumento">
                <select style="width: 25%;" name="category" class="form-control" required>
                  <option value="cent_inves">Centro de Investigación</option>
                  <option value="pers_admin">Personal Administrativo</option>
                </select>
          
                <select  style="width: 25%;"  name="t_instrument" class="form-control">
                  <option value="aut_eval">Auto-Evaluación</option>
                  <option value="coo_eval">Co-Evaluación</option>
                  <option value="eval_sub">Evaluación Subordinado-Jefe</option>
                  <option value="eval_jef">Evaluación Jefe-Subordinado</option> 
                </select>

               <button type="submit" class="btn btn-primary btn-xs" style="height: 38px;border-radius: 2px;margin-top: -2px">
                  <a class="fa fa-plus-circle" style="color:white;font-size:24px;margin-top: -3px;margin-left: 3px;"></a>
                </button>   
              </form>
            </center>
            <br>
            <div class="table-responsive">
              <!-- ===============TABLA DE INSTRUMENTOS EXISTENTES=============== -->
              <table class="table" style="margin-top: 30px;">
                <thead>
                  <tr>
                    <th scope="col"><center>Id</center></th>
                    <th scope="col"><center>Nombre</center></th>
                    <th scope="col"><center>Categoria</center></th>
                    <th scope="col"><center>Tipo</center></th>
                    <th scope="col"><center>Factor</center></th>
                    <th scope="col"><center>Accion</center></th>
                    <th scope="col"><center>Accion</center></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < dataInstrument.length; i ++) {%>
                    <% if(dataInstrument) {%>
                      <tr> 
                        <td><center><%= dataInstrument[i].id%></center></td>
                        <td><center><%= dataInstrument[i].name%></center></td>
                        <td>
                          <center>
                            <% if( dataInstrument[i].category == 'pers_admin' ) {%>
                              Personal Admin.
                            <%} else{%>
                              Centro de Investigación
                            <%}%>
                          </center>
                        </td>
                        <td>
                          <center>
                            <% if( dataInstrument[i].t_instrument == 'aut_eval' ) {%>
                              Auto-Eval
                            <%} else if( dataInstrument[i].t_instrument == 'eval_sub' ){%>
                              Eval-Subordinado
                            <%} else if( dataInstrument[i].t_instrument == 'eval_jef' ){%>
                              Eval-Jefe
                            <%} else if( dataInstrument[i].t_instrument == 'coo_eval' ){%>
                              Coo-Eval
                            <%}%>
                          </center>
                        </td>
                        <td>
                          <center>
                            <a href="/coord_eval/instrumento/<%=dataInstrument[i].id%>/add-factor" class="fa fa-plus-circle" style="color:#00aad4ff;font-size:24px;"></a>
                          </center>
                        </td>
                        <td>
                          <center>
                            <center>
                              <a class="fa fa-pencil edit-t-instrument" data-toggle="modal" data-target="#editInstrument" data-id="<%=dataInstrument[i].id%>" data-name="<%=dataInstrument[i].name%>" data-category="<%=dataInstrument[i].category%>" data-tipo="<%=dataInstrument[i].t_instrument%>" style="color:black;font-size:24px;">
                              </a>
                            </center>
                        </td>
                        <td>
                          <center>
                            <center>
                              <a href="/coord_eval/instrumento/delete/<%=dataInstrument[i].id%>" class="fa fa-trash-o" onclick="myFunction()" style="color:red;font-size:24px;">
                              </a>
                            </center>

                            <script>
                              function myFunction() {
                                document.getElementById("demo").innerHTML = alert("Desea Eliminar Este Instrumento?");;
                              }
                            </script>
                        </td>  
                      </tr>     
                    <%}%>
                  <%}%>        
                </tbody>
              </table>
              <!-- ===========FIN TABLA DE INSTRUMENTOS EXISTENTES================ -->

              <!--================MODAL EDIT INSTRUMENT=========================-->
              <div class="modal fade" id="editInstrument" style="margin-top: 10%">
                <div class="modal-dialog">
                  <div class="modal-content">              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"><center>Editar Instrumento</center></h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
          
                    <!-- Modal body -->
                    <form method="POST" action="/coord_eval/instrumento/edit">
                      <input type="hidden" name="id" id="edit-form-id">
                      <div class="modal-body">
                        <div class="form-group">
                          <label for="name">Nombre del Instrumento</label>
                          <input type="text" class="form-control" id="edit-form-name" name="name" autofocus>
                        </div>

                        <div class="form-group">
                          <label for="category">Categoria </label>
                          <select name="category" id="edit-form-category" class="form-control"> 
                            <option value="cent_inves">Centro de Investigación</option>
                            <option value="pers_admin">Personal Administrativo</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="t_instrument">Tipo de Instrumento </label>
                          <select name="t_instrument" id="edit-form-tipo" class="form-control">
                            <option value="aut_eval">Auto-Evaluación</option>
                            <option value="coo_eval">Co-Evaluación</option>
                            <option value="eval_sub">Evaluación-Subordinado</option>
                            <option value="eval_jef">Evaluación-Jefe</option>          
                          </select>
                        </div>
                      </div>  
                    
                      <div class="modal-footer">
                        <center><button type="submit" class="btn btn-primary" style="margin-top: 20px;background:#00aad4ff; border-radius: 2px;">Editar</button></center>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Section End-->
      <footer>
        <div class="footer wow fadeIn">
          <div id="free-promo" style="text-align: center; margin-top: 300px;">
            <br>
            <p>Av Gran Mariscal-Edificio Rectorado 
              <br>
              Cumaná-Venezuela.
              <br>
              Telefono. +58(0293) 400 01 01
            </p>
            <div class="social-footer" style="margin-top: -10px;">
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-facebook icon-round" ></i></a>
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-twitter icon-round"></i></a>
              <a href="#"><i style=" background:#2a7fffff;" class="fa fa-google-plus icon-round"></i></a>
            </div>
            <br>           
          </div>
        </div>  
      </footer>

      <div class="bottom">
        <a href="#" class="settings"></a>
      </div>
      
      <!--============JavaScript & jQuery Plugins==========================-->
      <!-- jQuery Load -->
      <script src="/assets/js/jquery-min.js"></script>
      <!-- Bootstrap JS -->
      <!--<script src="/assets/js/bootstrap.min.js"></script>-->
      <!--Text Rotator-->
      <script src="/assets/js/jquery.mixitup.js"></script>
      <!--WOW Scroll Spy-->
      <script src="/assets/js/wow.js"></script>
      <!-- OWL Carousel -->
      <script src="/assets/js/owl.carousel.js"></script>
   
      <!-- WayPoint -->
      <script src="/assets/js/waypoints.min.js"></script>
      <!-- CounterUp -->
      <script src="/assets/js/jquery.counterup.min.js"></script>
      <!-- ScrollTop -->
      <script src="/assets/js/scroll-top.js"></script>
      <!-- Appear -->
      <script src="/assets/js/jquery.appear.js"></script>
      <script src="/assets/js/jquery.vide.js"></script>
       <!-- All JS plugin Triggers -->
      <script src="/assets/js/main.js"></script>

      <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

       <script src="js/bootstrap.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/js/mymain.js"></script>
    </body>
</html>